lightning==2.3.0
pytorch-lightning==2.3.0
sko==0.5.7
wandb==0.13.11
numpy==1.26.4
tensordict==0.6.2
torchrl==0.6.0
torch==2.5.1
svgpath2mpl
scikit-opt==0.6.5
lkh
tsplib95
pre-commit
nicegui==2.11.1
bs4
plotly
ipywidgets